.searchBar{
	position: fixed;
	z-index: 9;
	width: 100%;
	background: #fff;
	top: 0px;
	padding: 0% 5%;
	box-sizing: border-box;
}

.noResult{
	margin-top: 150px;
	text-align: center;
}

mat-card{
	margin: 12px;
	box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
	mat-form-field{
		width: 45%;
		display: inline-block;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 800px) {
	mat-card{
		width: 300px;
		display: inline-block;
		margin: 10px;
		vertical-align: text-top;
	}
}