<div class="searchBar">
	<form  [formGroup]="searchForm">
		<mat-form-field>
			<input type="text" matInput placeholder="Busca por empresas" formControlName="searchText">
		</mat-form-field>
		<mat-form-field>
			<mat-select placeholder="Todos os tipos" formControlName="searchType">
				<mat-option *ngFor="let type of types" [value]="type.id">{{type.enterprise_type_name}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-icon matSuffix (click)="filterElements()">search</mat-icon>
	</form>
</div>
<div class="noResult mat-typography" *ngIf="!enterprises.length">
	<h4>Ops, nenhum resultado encontrado.</h4>
</div>
<div class="searchResult" *ngIf="enterprises.length">
	<mat-card class="example-card" *ngFor="let enterprise of enterprises">
		<mat-card-header>
			<mat-card-title>{{enterprise.enterprise_name}}</mat-card-title>
			<mat-card-subtitle>{{enterprise.city}} - {{enterprise.country}}</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="http://54.94.179.135:8090/{{enterprise.photo}}" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				{{enterprise.description}}
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button [routerLink]="['/search', enterprise.id]" mat-button>DETALHES</button>
		</mat-card-actions>
	</mat-card>
</div>