<form class="mat-typography" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
	
	<h1>BEM VINDO AO EMPRESAS</h1>
	<p>Este é o teste de Rodolfo, usando Angular 5 e Material Design</p>
  		
	<mat-form-field class="form-item">
		<mat-icon matPrefix (click)="filterElements()">mail</mat-icon>
		<input matInput placeholder="E-mail" type="text" formControlName="email">
		<mat-hint align="end">Obrigatório</mat-hint>
	</mat-form-field>
	
	<mat-form-field class="form-item">
		<mat-icon matPrefix (click)="filterElements()">lock</mat-icon>
		<input matInput placeholder="Senha" type="password" formControlName="password">
		<mat-hint align="end">Obrigatório</mat-hint>
	</mat-form-field>

	<div class="remember">
		<mat-slide-toggle matInput formControlName="remember">Entrar automaticamente</mat-slide-toggle>
	</div>

	<!-- <mat-slide-toggle matInput formControlName="isMobile">Mobile</mat-slide-toggle> -->

	<br>
	<button mat-raised-button type="submit" color="accent" [disabled]="!loginForm.valid">Entrar</button>

</form>