form{
	text-align: center;
	margin-top: 100px;
}

.remember{
	display: block;
	margin: 15px auto;
	position: relative;
}

@media only screen and (min-width: 800px) {
	form{
		margin-top: 150px;
	}

	form .form-item{
		width: 60%;
	}
}