<mat-icon class="close" (click)="close()" color="accent">close</mat-icon>
<div class="mat-typography enterprise">
	<div>
		<h3>{{enterprise.enterprise_name}}</h3>
		<img src="http://54.94.179.135:8090/{{enterprise.photo}}">
	</div>
	<div>
		<p>{{enterprise.city}} - {{enterprise.country}}</p>
		<p>{{enterprise.description}}</p>
		<p>Phone: {{enterprise.phone}}</p>
	</div>
</div>