.enterprise{
	padding: 20px;
	box-sizing: border-box;
}

.enterprise img{
	width: 100%;
	border-radius: 15px;
}

@media only screen and (min-width: 800px) {
	.enterprise > div{
		width: 45%;
		display: inline-block;
		vertical-align: text-top;
		padding: 20px;
		box-sizing: border-box;
	}
}

.close{
	position: absolute;
	top: 0px;
	font-size: 40px;
	right: 21px;
	color: #e75680;
	cursor: pointer;
}