.logo{
	height: 50%;
}

/*Screen density logo*/
@media only screen and (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
	span{
		width: 20px;
	}
}
