@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

// https://material.io/design/color/#tools-for-picking-colors
$candy-app-primary:  mat-palette($mat-cyan, 300);
$candy-app-accent:    mat-palette($mat-cyan, 300);
$candy-app-warn:  mat-palette($mat-pink, 500);

// Create the theme object (a Sass map containing all of the palettes).

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($candy-app-theme);